[submodule "modules/LandR_MPB_studyArea"]
	path = modules/LandR_MPB_studyArea
	url = https://github.com/achubaty/LandR_MPB_studyArea
[submodule "modules/mpbClimateData"]
	path = modules/mpbClimateData
	url = https://github.com/achubaty/mpbClimateData
[submodule "modules/mpbMassAttacksData"]
	path = modules/mpbMassAttacksData
	url = https://github.com/achubaty/mpbMassAttacksData
[submodule "modules/mpbPine"]
	path = modules/mpbPine
	url = https://github.com/achubaty/mpbPine
[submodule "modules/mpbRedTopSpread"]
	path = modules/mpbRedTopSpread
	url = https://github.com/achubaty/mpbRedTopSpread
