.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
cache
inputs
outputs
.RData
.secret
.secrets
.Rprofile
.Restart*
.Rprofile
nohup.out
SpeciesPresentInAllCanadianForests.zip
SpeciesPresentInCanadianForests.tif
SpeciesPresentInCanadianForests.tif.aux.xml
standAgeMap_2001_ABSK_9.2.tif
standAgeMap_2011_ABSK_9.2.tif
standAgeMap_ABSK_9.2.tif
J4RTmpFile
J4R*.l*
*.qs
*.zip
*.tar.gz
